.list1{
    padding: 0;
    box-shadow: 0px 3px 3px 1px rgb(0 0 0 / 10%);
    .money{
        font-weight: 700;
    }
}
.product-avatar {
    --border-radius: 4px;
    margin-top: 4%;
    width: 90px;  
    height: auto;  
    
  }