<ion-header>
  <ion-toolbar>
    <ion-title>Title</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- User INFO -->
  <ion-list class="list1" [inset]="true" color="light">
    <ion-item color="light">
      <ion-avatar slot="start">
        <img src="https://media.tenor.com/8MpDsPPKOJQAAAAM/walking-duck.gif" alt="">
      </ion-avatar>
      <ion-label>
        <h1>Dean Decierdo</h1>
        <p>Sales: <span class="money"><i>Php 5,000.00</i></span></p>
      </ion-label>
    </ion-item>
  </ion-list>
    <!-- User INFO END-->

  <!-- Order info -->
<app-delivery></app-delivery>
  <!-- Finished Orders info END-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary">  
        <img class="delivery-ico" src="https://img.icons8.com/ios/512/successful-delivery.png" alt="">
      </ion-fab-button>
    </ion-fab>
</ion-content>
