<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Orders</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
     <!-- product info -->
     <ion-item color="light">
      <ion-avatar class="product-avatar" slot="start">
        <img src="https://cdn.shopify.com/s/files/1/0286/9438/0653/products/1_41cc22c9-ed5a-4f60-adb6-bcfddcaaece7_400x.jpg?v=1658892413" alt="">
      </ion-avatar>
      <ion-label>
        <h2><b>Resourced Bag</b></h2>
        <p><span class="money"><i>Php 148.00</i></span></p>
      </ion-label>
    </ion-item>
    <!-- product info END-->
    <ion-button color="primary" fill="clear" size="full">See more...</ion-button>
  </ion-card-content>
</ion-card>
<!-- Order info END-->
  <!-- Finished Orders info -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Finished Orders</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
       <!-- product info -->
       <ion-item color="light">
        <ion-avatar class="product-avatar" slot="start">
          <img src="https://i.pinimg.com/236x/cb/57/43/cb5743b562923faea36824f9f931ecb3.jpg" alt="">
        </ion-avatar>
        <ion-label>
          <h2><b>Ethnic Style Top</b></h2>
          <p><span class="money"><i>Php 148.00</i></span></p>
        </ion-label>
      </ion-item>
      <!-- product info END-->
      <ion-button color="primary" fill="clear" size="full">See more...</ion-button>

    </ion-card-content>
  </ion-card>