<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iy6P.qskNVuU/v0/1200x-1.png" alt="">


<ion-card>
 

  <ion-card-subtitle class="card-sub">Order 1</ion-card-subtitle>
  <ion-card-content>
    <p>Address: Lucid Road, Imaginary Street</p>
    <p>Barangay: New Visayas</p>
    <p>Purok: Dream</p>
    <p>Phone: 09567463512</p>
    <ion-button size="small" color="primary">Delivered</ion-button>
  </ion-card-content>

</ion-card>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">  
    <img class="sell-ico" src="https://img.icons8.com/ios/512/sell.png" alt="">
  </ion-fab-button>
</ion-fab>
</ion-content>
